@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

/* 
# font-family: 'Merriweather Sans', sans-serif;
*/

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #979ea5;
  /* #837E9F */
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body {
  background-color: var(--body-bg-color);
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--text-color);
}

main {
  display: flex;
}

section {
  background-color: var(--bg-cards);
  border-radius: 10px;
  margin: 10px;
}

h2 {
  font-size: 1.1em;
}

.container {
  width: 348px;
  margin-left: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.container ul {
  display: flex;
}

.container ul li {
  margin: 20px 0;
}

.container ul li h3 {
  font-size: .9em;
}

.container ul li p,  .container ul li a{
  font-size: .8em;
}

/* ############ PROFILE CARD  ############*/

#profile {
  min-height: 292px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.photo-profile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 128px;
  height: 128px;
  overflow: hidden;

  border: 2px solid #3e971b;
  border-radius: 50%;
  
}

.photo-profile img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 0;

  max-width: 310px;
  padding: 0 40px 40px;
  height: 100%;

}

.arrow-down {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}


.menu-content {
  display: flex;
  justify-content: center;

  width: 210px;
  height: 0;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.menu-dropdown {
  margin-top: 10px;
}

.menu-dropdown .menu-content a {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--text-color);
  text-decoration: none;
  padding: 15px;
  margin-bottom: 10px;
  max-width: 130px;
  border: 1px solid var(--text-color);
  border-radius: 10px;

  transition: all .2s ease-in;
}

.menu-dropdown .menu-content a:hover {
  color: #e4e4e4;
  border: 1px solid #e4e4e4;

}

.bi-chevron-down {
  font-size: 1.2em;
  transition: .5s ease-in-out;
  margin-top: 10px;

  transition: all .2s ease-in-out;
}

.bi-chevron-down:hover {
  color: #e4e4e4;
}

#btn-arrow {
  display: none;
}

#btn-arrow:checked + label + .menu-content {
  height: 50px;
}

#btn-arrow + label > i {
  display: block;
  transition: all .2s ease-in-out;
}

#btn-arrow:checked + label > i {
  margin-top: 10px;
  transform: rotate(180deg);
  
}

.arrow-icon {
  animation: float 2s infinite;
  cursor: pointer;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 10px;
}

/* ############ INFORMATION CARD  ############*/
.informations-container, .informations-container ul {
  display: flex;
  flex-direction: column;
}

.informations-container ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px;
  margin-top: 20px;
  color: var(--text-color);
}

.informations-container ul li a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
}

.informations-container ul li a::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--text-color);
  width: 0%;
  height: 2px;
  transition: .2s ease-in-out;
}

.informations-container ul li a:hover::after {
  width: 100%;
}

/* ############ TECHNOLOGY CARD  ############*/

.technologys-container ul {
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 10px;
  list-style: none;
}

.technologys-container ul li {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  font-size: .65em;
  font-weight: bold;
  margin: 10px 5px;
  width: 80px;
  height: 50px;
  color: var(--text-color);
}

.technologys-container ul li img {
  width: 25px;
  height: 25px;
  margin: 5px;
  z-index: 1;
}

@keyframes float {
  0%, 100%{
    transform: translate(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* ############ EXPERIENCE CARD  ############*/

.experience-container ul {
  margin: 0 20px;
  flex-direction: column;
}

/* ############ EDUCATION CARD  ############*/

.education-container ul{
  flex-direction: column;
  margin: 0 20px;
}

.education-item {
  margin-top: 5px;
}

.education-item span {
  font-size: 1.15em;
  font-weight: bolder;
}

/* ############ PROJECTS CARD  ############*/

.article-feed {
  width: 100%;
  overflow-x: hidden;
}

#projects {
  box-sizing: border-box;
  background-color: transparent;

  padding: 0;
  margin: 0;
}

.projects-container {
  padding: 20px 10px;
}

.projects-container {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.projects-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: var(--bg-cards);
  border-radius: 10px;
  margin: 0px;
  width: 100%;
  min-height: 80px;
  padding: 20px;
  box-sizing: border-box;
}

.projects-title h2{
  font-size: 1.1em;
}

.projects-title a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.projects-title a:hover {
  border-bottom: 1px solid var(--text-color);
}

.projects-items {
  margin-top: 20px;
  min-height: 160px;
  border-radius: 10px;
}

.projects-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.p-item {
  border-radius: 10px;
  min-width: calc(50% - 10px);
  max-width: calc(50% - 10px);
  min-height: 120px;
  
  padding: 1.2em 1.2em 0;

  background-color: var(--bg-cards);
}

.item-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-height: 100%;
}

.project-description p {
  font-size: .75em;
  letter-spacing: 1px;
  line-height: 25px;
}

.item-title {
  display: flex;
  position: relative;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);

  margin-bottom: 20px;
  gap: 15px;
}

.item-title p {
  position: relative;
  color: var(--text-color);

  gap: 15px;
}

.item-title p::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--text-color);
  width: 0%;
  bottom: 0;
  height: 2px;
  transition: .2s ease-in-out;
}

.item-title p:hover::after {
  width: 100%;
}

.avaliation-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  font-size: .8em;
}

.avaliation-icons img, .project-description a img {
  width: 16px;
  height: 16px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.circle-icon {
  display: inline-block;
  border: 2.5px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.circle-icon.yellow {
  background-color: #ffff00;
}

.circle-icon.orange {
  background-color: #ff7300;
}

.circle-icon.blue {
  background-color: #006aff;
}

/* ############ POSTS CARD  ############*/

/* ############ MEDIA QUERIES - RESPONSIVE  ############*/

@media (max-width: 950px) {
  body {
    justify-content: center;
    align-items: center;
  }

  main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  article {
    display: flex;
    flex-direction: column;
    
    padding: 0;
    width: 100%;
  }

  .technologys-container {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .technologys-container h2 {
    align-self: flex-start;
  }

  .technologys-container ul{
    justify-content: flex-start;
    align-items: center;
    max-width: 450px;
    margin: 0;
    margin-top: 20px;
  }

  .technologys-container ul li {
    width: 33%;
    margin: 10px 0;
  }

  .technologys-container ul li img {
    width: 35px;
    height: 35px;
  }

  .article-feed {
    margin-right: 0px;
  }

  .projects-items {
    flex-wrap: wrap;
  }

  .p-item {
    min-width: 100%;
  }
}

@media (max-width: 620px) {
  .projects-items {
    flex-wrap: wrap;
  }

  .p-item {
    border-radius: 10px;
    min-height: 120px;
    background-color: var(--bg-cards);
  }
}

@media (max-width: 460px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .informations-container ul li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    min-width: 180px;
    height: 80px;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 0 20px;
  }

  .informations-email {
    font-size: .75em;
    font-weight: bold;
  }

  .technologys-container ul li {
    width: 50%;
  }
}