@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

/* 
# font-family: 'Merriweather Sans', sans-serif;
*/

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #979ea5;
  /* #837E9F */
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body {
  background-color: var(--body-bg-color);
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--text-color);
}

main {
  display: flex;
}

section {
  background-color: var(--bg-cards);
  border-radius: 10px;
  margin: 10px;
}

h2 {
  font-size: 1.1em;
}

.container {
  width: 348px;
  margin-left: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.container ul {
  display: flex;
}

.container ul li {
  margin: 20px 0;
}

.container ul li h3 {
  font-size: .9em;
}

.container ul li p,  .container ul li a{
  font-size: .8em;
}

/* ############ PROFILE CARD  ############*/

#profile {
  height: 292px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.photo-profile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 128px;
  height: 128px;
  overflow: hidden;

  border-radius: 50%;
  border: 1px solid #00df00;
}

.photo-profile img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* ############ INFORMATION CARD  ############*/
.informations-container {
  display: flex;
  flex-direction: column;
}
.informations-container ul {
  flex-direction: column;
}

.informations-container ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px;
  margin-top: 20px;
  color: var(--text-color);
}

.informations-container ul li a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
}

.informations-container ul li a::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--text-color);
  width: 0%;
  height: 2px;
  transition: .2s ease-in-out;
}

.informations-container ul li a:hover::after {
  width: 100%;
}

/* ############ TECHNOLOGY CARD  ############*/

.technologys-container ul {
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 10px;
  list-style: none;
}

.technologys-container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  font-size: .65em;
  font-weight: bold;
  margin: 10px 5px;
  width: 80px;
  height: 50px;
  color: var(--text-color);
}

.technologys-container ul li img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

/* ############ EXPERIENCE CARD  ############*/

.experience-container ul {
  margin: 0 20px;
  flex-direction: column;
}

/* ############ EDUCATION CARD  ############*/

.education-container ul{
  flex-direction: column;
  margin: 0 20px;
}

.education-item {
  margin-top: 5px;
}

.education-item span {
  font-size: 1.15em;
  font-weight: bolder;
}

/* ############ PROJECTS CARD  ############*/

.article-feed {
  width: 100%;
  overflow-x: hidden;
}

#projects {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.projects-container, .posts-container {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.projects-title, .posts-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: var(--bg-cards);
  border-radius: 10px;
  margin: 0px;
  width: 100%;
  min-height: 80px;
  padding: 20px;
  box-sizing: border-box;
}

.projects-title h2, .posts-title  h2{
  font-size: 1.1em;
}

.projects-title a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.projects-title a:hover {
  border-bottom: 1px solid var(--text-color);
}

.projects-items, .posts-items {
  margin-top: 20px;
  min-height: 160px;
  border-radius: 10px;
}

.projects-items {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.p-item {
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  min-height: 120px;
  background-color: var(--bg-cards);
}

/* ############ POSTS CARD  ############*/

#posts {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
}

.posts-items {
  background-color: var(--bg-cards);
}

/* ############ MEDIA QUERIES - RESPONSIVE  ############*/
@media (max-width: 950px) {
  body {
    justify-content: center;
    align-items: center;
  }

  main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  article {
    display: flex;
    flex-direction: column;
    
    padding: 0;
    width: 100%;
  }

  .technologys-container {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .technologys-container h2 {
    align-self: flex-start;
  }

  .technologys-container ul{
    justify-content: flex-start;
    align-items: center;
    max-width: 450px;
    margin: 0;
    margin-top: 20px;
  }

  .technologys-container ul li {
    width: 33%;
    margin: 10px 0;

  }

  .technologys-container ul li img {
    width: 35px;
    height: 35px;
  }

  .article-feed {
    margin-right: 0px;
  }
}

@media (max-width: 620px) {
  .projects-items {
    flex-wrap: wrap;
  }

  .p-item {
    border-radius: 10px;
    max-width: 100%;
    min-height: 120px;
    background-color: var(--bg-cards);
  }
}

@media (max-width: 460px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 330px) {
  .informations-container ul li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    min-width: 180px;
    height: 80px;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 0 20px;
  }

  .informations-email {
    font-size: .75em;
    font-weight: bold;
  }

  .technologys-container ul li {
    width: 50%;
  }
}